<style>
        h1{
            font-family: sans-serif;
        }
        p{
            font-weight: 600;
            font-size: 3em;
        }
        body{
            font-size: 16px;
        }
        ul{
            font-style: italic;
            line-height:20px;
            text-align: left;
            text-decoration:line-through;
        }
        #y{
            background-color: yellow;
        }
        #r{
            background-color: red;
        }
        #b{
            background-color: brown;
        }

    </style>